:root {
  --cerulean: #4484CE;
}

body {
  margin: 0;
  padding: 0;
}
 /* Style the video: 100% width and height to cover the entire window */
.video {
  right: 0;
  bottom: 0;
  min-width: 100vw;
  height: 100vh;
}
video#atv {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  height: auto;
  z-index: -1;
}

/* Add some content at the bottom of the video/page */
.content {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  /*background: rgba(0, 0, 0, 0.5);*/
  color: #f1f1f1;
  width: 100%;
  padding: 5px;
  display: grid;
  grid-template-areas:
    "logo menu login"
    "logo menu controls";
  transition: 0.3s all;
}
.content.scrolled {
  background-color: var(--cerulean);
}
.logo {
  grid-area: logo;
}
.menu {
  grid-area: menu;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.login {
  grid-area: login;
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls {
  grid-area: controls;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.5em;
  padding: 0 5px;
}
/* Style the button used to pause/play the video */
#video-controls {
  width: auto;
  font-size: 1.25em;
  padding: 5px 10px;
  border: none;
  background: #F95B26;
  color: #FFF;
  cursor: pointer;
  border-radius: 25px;
}

#video-controls:hover {
  color: black;
}
.extra {
  position: relative;
  z-index: 2;
  background-color: #FFF;
  bottom: -20px;
}
.nav-white {
  color: #FFFFFF;
}
.nav-white:hover {
  color: #F9F9F9;
}
